.env
env/
ENV/
env.bak/
.envrc
.venv
venv/
venv.bak/

**/.idea/**

__pycache__/
*$py.class
*.py[codz]

*.so

.Python
build/
dist/
downloads/
lib/
.installed.cfg

*.spec
*.manifest

pip-log.txt

.pytest_cache/

*.log

instance/

.scrapy
.spyderproject
.spyproject

.ipynb_checkpoints

ipython_config.py
profile_default/

__pypackages__/

/site

mypy_cache/
.pyre/
.pytype/
